@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

.header {
    background-color: #1f2937;
    padding: 1rem 10rem;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
    flex: auto;
}

.header-text {
    font-size: 18px;
    color: #e5e7eb;
}

.navbar-links {
    flex: auto;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: flex-end;
    gap: 25px;
}

.navbar-links li {
    list-style: none;
}

.navbar-links a {
    text-decoration: none;
}

.hero {
    display: flex;
    align-items: center;
    padding: 4rem 0;
}

.hero-text {
    flex: auto;
    margin-right: 5rem;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

button {
    background-color: #3882f6;
    font-size: 18px;
    color: #f9faf8;
    font-weight: bold;
    border: 0;
    box-shadow: none;
    border-radius: 10px;
    padding: 10px 40px;
}

.hero-image {
    display: flex;
    justify-content: flex-end;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
    padding: 3rem 0;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    flex: auto;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.card {
    display: flex;
    flex-flow: column wrap;
    width: 12rem;
    align-items: center;
    flex: 0 1 auto;
    gap: 1rem;
}

.box {
    border: 3px solid lightskyblue;
    width: 10rem;
    height: 10rem;
    border-radius: 10px;
    flex: none;
}

.content-text {
    font-size: 18px;
    color: #454545;
    text-align: center;
    flex: none;
}